<a href="https://colab.research.google.com/github/jonathannocek/twitter-analysis/blob/master/twitter-analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import json
import pandas as pd
import numpy
import seaborn as sns
import matplotlib.pyplot as plt

from google.colab import drive
drive.mount('/content/drive')

my_list = []
with open('drive/My Drive/twitter_data.json') as json_file:
    data = json.load(json_file)
    for column in data:
        text = column['text']
        username = column['username']
        datetime = column['datetime']
        followers = column['followers']
        sentiment = column['sentiment']
        favorites = column['favorites']
        retweets = column['retweets']

        my_list.append({'text': str(text),
                        'username': str(username),
                        'datetime': str(datetime),
                        'followers': int(followers),
                        'sentiment': str(sentiment),
                        'favorites': int(favorites),
                        'retweets': int(retweets)
                            })
        df = pd.DataFrame(my_list, columns = 
                                  ['text','username', 'datetime', 'sentiment',
                                   'followers', 'sentiment', 'favorites',
                                   'retweets'])

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
df.head(10)

                                                text  ... retweets
0  Elon Musk asks all job candidates this one que...  ...        0
1  Elon Musk asks all job candidates this one que...  ...        0
2  Important: the new moon is the size of a car, ...  ...        0
3  Elon Musk still OK to claim to sell "Full Self...  ...        0
4  Envelope-pushing visionary Elon Musk spills th...  ...        0
5  why did i think that was elon musk at first ht...  ...        0
6  Elon went "CRAZYCROUS" mode Grimes And Elon Mu...  ...        0
7  Elon Musk responded to a long-running fan joke...  ...        0
8  Elon Musk is a genius due to his baldness reme...  ...        0
9  Suggested gishwhes Item (VIDEO): Create a conv...  ...        0

[10 rows x 8 columns]

In [14]:
df_followers = df[df['followers'] > 10000]
df_followers

                                                   text  ... retweets
13    "I’m from the continent of poverty and long wa...  ...        1
19    The messy, secretive reality behind OpenAI’s b...  ...        0
49    “We’ve got a lot of land with nobody around, a...  ...       53
50    SpaceX is dismantling a remote beach community...  ...        6
54    Alberta oilfields could give rise to lithium i...  ...        0
...                                                 ...  ...      ...
4571  Elon Musk shares the science fiction book seri...  ...        2
4575  Elon Musk’s New Nemesis: Rivian Founder R.J. S...  ...        0
4585  Elon Musk shares the science fiction book seri...  ...        1
4586  Tesla Gigafactory 4 Berlin Welcoming Party wit...  ...       39
4592  Elon Musk: Tesla Cybertruck will come standard...  ...       18

[484 rows x 8 columns]

In [9]:
df.describe().round(1)

        followers  favorites  retweets
count      4593.0     4593.0    4593.0
mean      61029.6        8.6       1.7
std      675217.3       96.6      23.0
min           0.0        0.0       0.0
25%          96.0        0.0       0.0
50%         411.0        0.0       0.0
75%        1918.0        2.0       0.0
max    21260053.0     3716.0    1076.0