<a href="https://colab.research.google.com/github/jonathannocek/twitter-analysis/blob/master/twitter_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import json
import pandas as pd
import numpy
import seaborn as sns
import matplotlib.pyplot as plt

from google.colab import drive
drive.mount('/content/drive')

my_list = []
with open('drive/My Drive/data.json') as json_file:
    data = json.load(json_file)
    for column in all_data:
        text = column['text']
        username = column['username']
        datetime = column['datetime']
        my_list.append({'text': str(text),
                             'username': str(username),
                             'datetime': str(datetime),
                            })
        df = pd.DataFrame(my_list, columns = 
                                  ['text','username', 'datetime'])

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [47]:
df.head(10)

                                                text  ...             datetime
0  Gotta love Elon! He doesnâ€™t just dream it, he ...  ...  2020-02-24T14:34:42
1  Will Elon Musk make it happen?\nhttps://t.co/5...  ...  2020-02-24T14:34:31
2  Inside Elon Muskâ€™s Ad Astra School Where Grade...  ...  2020-02-24T14:33:27
3  What's the problem with Elon Musk's Starlink P...  ...  2020-02-24T14:33:20
4  Elon Musk  Neuralink  AI  Autopilot  and the P...  ...  2020-02-24T14:32:31
5  When something is important enough, you do it ...  ...  2020-02-24T14:31:22
6  Teslarati: Elon Musk's Boring Company quietly ...  ...  2020-02-24T14:30:36
7  #Elon #Musk joins calls to #regulate companies...  ...  2020-02-24T14:30:02
8  My all time favorite Elon Musk quote.....ðŸ˜‚ðŸ˜‚ðŸ¤£ @...  ...  2020-02-24T14:29:55
9  In my dream i was talking with elon musk about...  ...  2020-02-24T14:29:43

[10 rows x 3 columns]

In [45]:
df

                                                   text  ...             datetime
0     Gotta love Elon! He doesnâ€™t just dream it, he ...  ...  2020-02-24T14:34:42
1     Will Elon Musk make it happen?\nhttps://t.co/5...  ...  2020-02-24T14:34:31
2     Inside Elon Muskâ€™s Ad Astra School Where Grade...  ...  2020-02-24T14:33:27
3     What's the problem with Elon Musk's Starlink P...  ...  2020-02-24T14:33:20
4     Elon Musk  Neuralink  AI  Autopilot  and the P...  ...  2020-02-24T14:32:31
...                                                 ...  ...                  ...
1966  NASA: Elon Musk's SpaceX program will land on ...  ...  2020-02-22T13:42:24
1967  SpaceX is looking to raise about $250 million,...  ...  2020-02-22T13:41:08
1968  Another conspiracy: the determined Artificial ...  ...  2020-02-22T13:40:31
1969  Some of their first jobs:\n\nJeff Bezos: McDon...  ...  2020-02-22T13:38:41
1970  Does Elon Musk think she's a child? https://t....  ...  2020-02-22T13:38:03

[1971 rows x 3 columns]

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1971 entries, 0 to 1970
Data columns (total 3 columns):
text        1971 non-null object
username    1971 non-null object
datetime    1971 non-null object
dtypes: object(3)
memory usage: 46.3+ KB

In [43]:
df.describe()

                       text       username             datetime
count                  1971           1971                 1971
unique                 1952           1645                 1946
top     Elon Musk is my god  ElonAnnounces  2020-02-22T21:19:12
freq                      8             47                    2